<!DOCTYPE html>
{% extends 'bases/base1.html' %}


{% block contenu %}
<div class="wrapper">
  <div class="section section-hero section-shaped">
    <div class="container pt-lg-3 bg-gradient-gray">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          <form role="form" method="post">
            {% csrf_token %}
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-laptop"></i>
                <h5>Enregistrer l'Utilisateur {{user.nom}} {{user.prenom}} </h5>
              </span>
            </div>
            <br>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><label for="email">Email</label></span>
                </div>
                <input class="form-control" type="text" id="email" name="email" placeholder="Saisissez l'adresse email"
                  required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><label for="username">Nom d'utilisateur</label></span>
                </div>
                <input class="form-control" type="text" id="username" name="username"
                  placeholder="Créez un nom d'utilisateur ici" required>
              </div>
            </div>
            <div class="form-group focused">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><label for="password">Mot de passe</label></span>
                </div>
                <input class="form-control" id="password" name="password" placeholder="Créez votre mot de passe ici"
                  type="password">
              </div>
            </div>
            <div class="text-muted font-italic"><small>password strength: <span
                  class="text-success font-weight-700">strong</span></small></div>
            <div class="form-group focused">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><label for="password">Confirmer de mot de passe</label></span>
                </div>
                <input class="form-control" id="comfirmpwd" name="comfirmpwd"
                  placeholder="Confirmez votre mot de passe ici" type="password">
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12">

              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Créer l'utilisateur</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenu %}