<!DOCTYPE html>
{% extends 'bases/base1.html' %}

{% block title %}
Bilan périodique
{% endblock title %}


{% block contenu %}
<div class="row d-sm-flex justify-content-center mb-2">
  <div class="col-xl-3 col-md-6 mb-4">

    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">RENSEIGNER LA PERIODE
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-black-800">
                </div>
              </div>

            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar-alt fa-2x text-black-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row d-sm-flex justify-content-center mb-2">
  <br><br>
  {% for message in messages %}
  <strong><i style="color: rgb(192, 9, 9);">{{message}}</i></strong>
  {% endfor %}

  <!-- Area Chart -->
  <div class="container pt-lg-1" style="padding-top: -100px;">

    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card bg-gradient-white shadow border-5">
          <div class="container mt-3">
            <div class="row">

              <div class="col">
                <h4 class="h6 m-3 text-darker bg-body">Cliquez <button class="btn btn-primary" type="button"
                    data-toggle="collapse" data-target="#engin_spe" aria-expanded="false"
                    aria-controls="engin_spe">ici</button> pour spécifier un engin</h4>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row justify-content-center">
                  <h4 class="h5 m-3 text-darker bg-body">Veuillez sélectionner les dates</h4>
                </div>

                <form method="post" name="periode_bilan">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <div class="collapse" id="engin_spe">
                      <div class="input-group input-group-alternative">
                        <span class="input-group-text bg-body">
                          <label for="engin"
                            style="font-size: medium; color: rgb(8, 8, 8); width: 125px; height: 10px;">Engin : </label>
                        </span>
                        <select class="form-control" id="engin" name="engin">
                          <option value="">Sélectionner un engin</option>

                          {% for e in engin %}
                          <option value="{{e.id}}">{{e.immatriculation}}</option>
                          {% endfor %}

                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <span class="input-group-text bg-body">
                        <label for="date_debut"
                          style="font-size: medium; color: rgb(8, 8, 8); width: 125px; height: 10px;">Date de
                          début:</label>
                      </span>
                      <input type="text" class="form-control" id="date_debut" name="date_debut" required>
                    </div>
                  </div>

                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <span class="input-group-text bg-body">
                        <label for="date_fin"
                          style="font-size: medium; color: rgb(8, 8, 8); width: 125px; height: 10px;">Date de
                          fin:</label>
                      </span>
                      <input type="text" class="form-control" id="date_fin" name="date_fin" required>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" name="submit_periode" class="btn btn-primary my-4">VALIDER</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#id_engin').select2({
      ajax: {
        url: "{% url 'administratif:periode_bilan' %}",
        dataType: 'json',
        data: function (params) {
          return {
            term: params.term,
            field_name: 'engin'
          };
        },
        processResults: function (data) {
          return {
            results: $.map(data, function (item) {
              return { id: item.id, text: item.immatriculation };
            })
          };
        }
      },
      minimumInputLength: 1
    });
  })
</script>

{% endblock contenu %}