<!DOCTYPE html>
{% extends 'bases/base1.html' %}


{% block title %}
Analyse finacière globale des engins
{% endblock title %}


{% block contenu %}
<div class="wrapper">
  <!-- Page Heading -->
  <br>
  <div class="row d-sm-flex justify-content-center mb-2">
    <form class="form-inline ml-9" method="post">
      {% csrf_token %}
      <div class="input-group input-group-merge">
        <span class="input-group-text">
          <label for="objet" style="font-size: 15px; color: black;">
            Objet :
            <select name="objet" id="objet" class="">
              <option value="">Choisir</option>
              <option value="1">Immatriculattion</option>
              <option value="2">Couleur</option>
              <option value="3">Marque</option>
              <option value="4">Modèle</option>
              <option value="5">Type</option>
              <option value="6">Fournisseur</option>
            </select>
          </label>
        </span>
        <input type="text" name="chaine" id="chaine" class="form-control" placeholder="Rechercher un engin">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
    <br>

  </div>
  <style>
    .sticky-navigation {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      /* La valeur "0" signifie que l'élément reste bloqué en haut de la fenêtre */
      background: white;
      /* Fond de la barre de navigation */
      z-index: 10;
      /* Réglez le z-index pour empiler correctement la barre de navigation sur d'autres éléments */
      padding: 0px 50px 3px 50px;
      /* Ajoutez une certaine marge pour compenser la barre de navigation */
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      /* Ombre légère pour un effet de défilement */
    }
  </style>
  {% if type_bilan == 'finances' %}
  <div class="row d-sm-flex justify-content-center mb-2">

    <h1 class="h3 mb-0 text-gray-800">Bilan financier</h1>

  </div>

  <div class="row d-sm-flex justify-content-center mb-2">

    <div class="col-xl-3 col-md-6 mb-4" data-toggle="collapse" data-target="#carburantSection" aria-expanded="false"
    aria-controls="carburantSection">
      <div class="card border-left-primary shadow h-55 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Coût total de ravitaillement en carburant</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"> {{cout_r}} F CFA</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" data-toggle="collapse" data-target="#maintenanceSection" aria-expanded="false"
    aria-controls="maintenanceSection">
      <div class="card border-left-success shadow h-55 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1" data-toggle="collapse"
                data-target="#maintenanceSection" aria-expanded="false" aria-controls="maintenanceSection">
                Coût total de maintenance des engins</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{cout_m}} F CFA</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" data-toggle="collapse" data-target="#vidangeSection" aria-expanded="false"
    aria-controls="vidangeSection">
      <div class="card border-left-info shadow h-55 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">

            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Coût total de vidange des engins
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-2 font-weight-bold text-gray-800">{{cout_v}} F CFA
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row d-sm-flex justify-content-center mb-2">

    <!-- Area Chart -->

    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <div class="collapse" id="carburantSection">
            <h4 class="h3 mb-0 text-gray-800">Point sur le carburant</h4>
            <table class="table table-bordered" id="dataTable2" width="200%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Engin</th>
                  <th>Marque</th>
                  <th>Modèle</th>
                  <th>Immatric.</th>
                  <th>Montant</th>
                  <th>Quantité</th>
                  <th>Carb. Dispo</th>
                  <th>Niveau de carburant</th>
                  <th>Observation</th>
                  <th>Voir</th>
                </tr>
              </thead>
              <tbody>
                {% for r in ravitaillements %}
                <tr data-bs-toggle="collapse" data-bs-target="#details_{{ forloop.counter }}" aria-expanded="false"
                  aria-controls="details_{{ forloop.counter }}">
                  <td>{{ r.date_rav }}</td>
                  <td>{{ r.engin_rav.type_engin.designation}} </td>
                  <td>{{r.engin_rav.modele_engin.marque.nom_marque}}</td>
                  <td>{{r.engin_rav.modele_engin.nom_modele}}</td>
                  <td {% if r.niveau_carb < 15 %} style="background-color: rgb(245, 160, 145);" {% elif r.niveau_carb <
                    35 %} style="background-color: rgb(231, 241, 86);" {% else %}
                    style="background-color: rgb(100, 233, 100);" {% endif %}>
                    {{r.engin_rav.immatriculation}} </td>
                  <td>{{r.cout_rav}} F CFA</td>
                  <td>{{r.quantite_rav}} L</td>
                  <td>{{r.carb_dispo}} L</td>
                  <td {% if r.niveau_carb < 15 %} style="background-color: rgb(245, 160, 145);" {% elif r.niveau_carb <
                    35 %} style="background-color: rgb(231, 241, 86);" {% else %}
                    style="background-color: rgb(100, 233, 100);" {% endif %}>
                    {{r.niveau_carb}} %</td>
                  <td>

                    {% if r.niveau_carb < 15 %} 
                      Niveau de carburant bas, songez à ravitailler 
                    {% elif r.niveau_carb < 35 %} 
                      Préparez un ravitaillement 
                    {% else %} 
                      Peut rouler pendant un bon moment {% endif %} </td>

                  <td class="td-actions text-right">
                    <div class="dropdown no-arrow">
                      <a class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400" href="#" role="button"
                        id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header" style="color: black; font-size: 12px;">Option:</div>
                        <a class="dropdown-item" href="">Bilan périodique</a>

                      </div>
                    </div>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="collapse" id="maintenanceSection">
            <h4 class="h3 mb-0 text-gray-800">Point sur les maintenances</h4>
            <table class="table table-bordered" id="dataTable3" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Engin</th>
                  <th>Marque</th>
                  <th>Modèle</th>
                  <th>Immat.</th>
                  <th>Montant</th>
                  <th>Fournisseur</th>
                  <th>Type de maintenance</th>
                  <th>Motif</th>
                  <th>Voir</th>
                </tr>
              </thead>
              <tbody>
                {% for m in maintenances %}
                <tr data-bs-toggle="collapse" data-bs-target="#details_{{ forloop.counter }}" aria-expanded="false"
                  aria-controls="details_{{ forloop.counter }}">
                  <td>{{ m.date_maint }}</td>
                  <td>{{ m.engin_maint.type_engin.designation}} </td>
                  <td>{{m.engin_maint.modele_engin.marque.nom_marque}}</td>
                  <td>{{m.engin_maint.modele_engin.nom_modele}}</td>
                  <td>{{m.engin_maint.immatriculation}} </td>
                  <td>{{m.cout_maint}} </td>
                  <td>{{m.fournisseur_maint.nom_fournisseur}} </td>
                  <td>{{m.type_maint.libelle_maint}} </td>
                  <td>{{m.motif_maint}} </td>

                  <td></td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="collapse" id="vidangeSection">
            <h4 class="h3 mb-0 text-gray-800">Point sur les vidanges</h4>
            <table class="table table-bordered" id="dataTable4" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Engin</th>
                  <th>Marque</th>
                  <th>Modèle</th>
                  <th>Immat.</th>
                  <th>Montant</th>
                  <th>Fournisseur</th>
                  <th>Kilométrage à la vidange</th>
                  <th>Voir</th>
                </tr>
              </thead>
              <tbody>
                {% for v in vidanges %}
                <tr data-bs-toggle="collapse" data-bs-target="#details_{{ forloop.counter }}" aria-expanded="false"
                  aria-controls="details_{{ forloop.counter }}">
                  <td>{{ v.date_maint }}</td>
                  <td>{{ v.engin_maint.type_engin.designation}} </td>
                  <td>{{v.engin_maint.modele_engin.marque.nom_marque}}</td>
                  <td>{{v.engin_maint.modele_engin.nom_modele}}</td>
                  <td>{{v.engin_vid.immatriculation}} </td>
                  <td>{{v.cout_maint}} </td>
                  <td>{{v.fournisseur_maint.nom_fournisseur}} </td>

                  <td>{{v.Km_maint}} </td>

                  <td></td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% elif type_bilan == 'techniques' %}

<div class="row d-sm-flex justify-content-center mb-2">

  <h1 class="h3 mb-0 text-gray-800">Bilan Technique </h1>

</div>

<div class="row d-sm-flex justify-content-center mb-2">

  <div class="col-xl-3 col-md-6 mb-4" data-toggle="collapse" data-target="#carburantSection1" aria-expanded="false"
  aria-controls="carburantSection1">
    <div class="card border-left-primary shadow h-55 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Quantité totale de carburant ravitaillé</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"> {{quantite_rav}} Litres</div>
          </div>
          <div class="col-auto">
            <i class="fa fa-credit-card-alt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4" data-toggle="collapse" data-target="#maintenanceSection1" aria-expanded="false"
  aria-controls="maintenanceSection1">
    <div class="card border-left-success shadow h-55 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
              Nombre total de maintenance de l'engin</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{nb_maintenance}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-gears fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4" data-toggle="collapse" data-target="#vidangeSection1" aria-expanded="false"
  aria-controls="vidangeSection1">
    <div class="card border-left-info shadow h-55 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Nombre total de vidange
              de l'engin
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{nb_vidange}}
                </div>
              </div>

            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-gear fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row d-sm-flex justify-content-center mb-2">

  <!-- Area Chart -->

  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <div class="collapse" id="carburantSection1">
          <h4 class="h3 mb-0 text-gray-800">Point sur les interventions en carburant</h4>
          <table class="table table-bordered" id="dataTable5" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Engin</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immat.</th>
                <th>Montant</th>
                <th>Quantité</th>
                <th>Carb. Dispo</th>
                <th>Ecart de conso.</th>
                <th>Observation</th>
                <th>Voir</th>
              </tr>
            </thead>
            <tbody>
              {% for r in ravitaillements %}
              <tr data-bs-toggle="collapse" data-bs-target="#details_{{ forloop.counter }}" aria-expanded="false"
                aria-controls="details_{{ forloop.counter }}">
                <td>{{ r.date_rav }}</td>
                <td>{{ r.engin_rav.type_engin.designation}} </td>
                <td>{{r.engin_rav.modele_engin.marque.nom_marque}}</td>
                <td>{{r.engin_rav.modele_engin.nom_modele}}</td>
                <td {% if r.ecart_conso < 20 %} style="background-color: rgb(100, 233, 100);" {% elif r.ecart_conso < 35
                  %} style="background-color: rgb(231, 241, 86);" {% else %}
                  style="background-color: rgb(231, 104, 82);" {% endif %}>
                  {{r.engin_rav.immatriculation}} </td>
                <td>{{r.cout_rav}} </td>
                <td>{{r.quantite_rav}} </td>
                <td>{{r.carb_dispo}}</td>
                <td {% if r.ecart_conso < 20 %} style="background-color: rgb(100, 233, 100);" {% elif r.ecart_conso < 35
                  %} style="background-color: rgb(231, 241, 86);" {% else %}
                  style="background-color: rgb(231, 104, 82);" {% endif %}>
                  {{r.ecart_conso}} %</td>
                <td>

                  {% if r.ecart_conso < 20 %} Consommation acceptable {% elif r.ecart_conso < 35 %} Engin à suivre de
                    près {% else %} Consomme trop, envoyer l'engin en maintenance {% endif %} </td>

                <td class="td-actions text-right">
                  <div class="dropdown no-arrow">
                    <a class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400" href="#" role="button" id="dropdownMenuLink1"
                      data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header" style="color: black; font-size: 12px;">Option:</div>
                      <a class="dropdown-item" href="">Bilan périodique</a>

                    </div>
                  </div>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="collapse" id="maintenanceSection1">
          <h4 class="h3 mb-0 text-gray-800">Point sur les interventions en maintenance</h4>
          <table class="table table-bordered" id="dataTable6" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Engin</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immat.</th>
                <th>Montant</th>
                <th>Fournisseur</th>
                <th>Type de maintenance</th>
                <th>Motif</th>
                <th>Révision</th>
                <th>Voir</th>
              </tr>
            </thead>
            <tbody>
              {% for m in maintenances %}
              <tr data-bs-toggle="collapse" data-bs-target="#details_{{ forloop.counter }}" aria-expanded="false"
                aria-controls="details_{{ forloop.counter }}">
                <td>{{ m.date_maint }}</td>
                <td>{{ m.engin_maint.type_engin.designation}} </td>
                <td>{{m.engin_maint.modele_engin.marque.nom_marque}}</td>
                <td>{{m.engin_maint.modele_engin.nom_modele}}</td>
                <td>{{m.engin_maint.immatriculation}} </td>
                <td>{{m.cout_maint}} </td>
                <td>{{m.fournisseur_maint.nom_fournisseur}} </td>
                <td>{{m.type_maint.libelle_maint}} </td>
                <td>{{m.motif_maint}} </td>
                <td>Dans {{m.reviz}} jours</td>
                <td></td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="collapse" id="vidangeSection1">
          <h4 class="h3 mb-0 text-gray-800">Point sur les interventions en vidange</h4>
          <table class="table table-bordered" id="dataTable7" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Engin</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Immat.</th>
                <th>Montant</th>
                <th>Fournisseur</th>
                <th>Kilométrage à la vidange</th>
                <th>Prochaine vidange</th>
                <th>Voir</th>
              </tr>
            </thead>
            <tbody>
              {% for v in vidanges %}
              <tr data-bs-toggle="collapse" data-bs-target="#details_{{ forloop.counter }}" aria-expanded="false"
                aria-controls="details_{{ forloop.counter }}">
                <td>{{ v.date_maint }}</td>
                <td>{{ v.engin_maint.type_engin.designation}} </td>
                <td>{{v.engin_maint.modele_engin.marque.nom_marque}}</td>
                <td>{{v.engin_maint.modele_engin.nom_modele}}</td>
                <td>{{v.engin_vid.immatriculation}} </td>
                <td>{{v.cout_maint}} </td>
                <td>{{v.fournisseur_maint.nom_fournisseur}} </td>

                <td>{{v.Km_maint}} </td>
                <td>

                  {% if v.engin_maint.type_engin.designation == 'TRICYCLE' %}
                  Dans {{v.vid}} jours
                  {% else %}
                  Après {{v.vid}} Km
                  {% endif %}

                </td>
                <td></td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endif %}

{% endblock contenu %}