{% extends 'bases/base1.html' %}

{% load static %}

{% block title %}
Enrégistrer {{sujet}}
{% endblock title %}


{% block contenu %}
<div class="wrapper">
  <div class="section section-hero section-shaped">
    <!-- <div class="shape shape-style-3 shape-default"> -->
    <!-- <span class="span-150"></span> -->
    <!-- <span class="span-50"></span> -->
    <!-- <span class="span-75"></span> -->
    <!-- </div> -->
    <div class="container pt-lg-7">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-laptop"></i></span>
              </div>
              {{ form.as_p }}
            </div>

            <div class="text-center mb-6">
              <button type="submit" class="btn btn-success mt-4">ENREGISTRER</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenu %}