{% extends 'bases/base1.html' %}

{% load static %}

{% block title %}
Details {{sujet}}
{% endblock title %}

{% block contenu %}
<div class="wrapper bg-gradient-light">
    <p class="lead text-gray-800 mb-5"> Succès de création {{sujet}} </p>
    {% if sujet == 'attribution' %}
    <!--  -->
    <div class="bg-gradient-blue">
        <div class="container">
            <div class="card card-profile shadow mt-2">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Nom : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.conducteur.nom}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Prénom : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.conducteur.prenom}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Engin attribué : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.engin.immatriculation}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Date d'attribution : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.date_attribution}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    {% elif sujet == 'engin' %}
    <!--  -->
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-0">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                <table class="table table-bordered" width="100%" cellspacing="2">
                                    <tr>
                                        <th style="color: black;">Immatriculattion : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.immatriculation}} </td>
                                    </tr>
                                    <tr>
                                        <th style="color: black;">Couleur : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.couleur}} </td>
                                    </tr>
                                    <tr>
                                        <th style="color: black;">Informations techniques : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.info_engin.info}} </td>
                                    </tr>
                                    <tr>
                                        <th style="color: black;">Modèle : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.modele_engin.nom_modele}} </td>
                                    </tr>
                                    <tr>
                                        <th style="color: black;">Type : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.type_engin.designation}} </td>
                                    </tr>
                                    <tr>
                                        <th style="color: black;">Fournisseur : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.fournisseur_engin.nom_fournisseur}} </td>
                                    </tr>
                                    <tr>
                                        <th style="color: black;">Etat : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.etat_engin.libelle_etat}} </td>
                                    </tr>
                                    <tr>
                                        <th style="color: black;">Obsolète? : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.est_obsolete}} </td>
                                    </tr>
                                    <tr>
                                        <th style="color: black;">Date de création : </th>
                                        <td style="color: rgb(1, 82, 1);"> {{objet.date_creation}} </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    {% elif sujet == 'etat_engin' %}

    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Libellé de l'état : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.libelle_etat}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'fournisseur' %}

    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Nom du fournisseur : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.nom_fournisseur}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Adresse : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.adresse}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Description du fournisseur : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.description_fournisseur}} </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'info_engin' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Info : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.info}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Consommation : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.consommation}} L/100Km</td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Vidange : </th>
                                            <td style="color: rgb(1, 82, 1);">Chaque {{objet.vidange}} Km </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Révision : </th>
                                            <td style="color: rgb(1, 82, 1);">Tous les {{objet.revision}} jours </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'maintenance_engin' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Motif : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.motif_maint}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Engin : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.engin_maint.immatriculation}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Type de maintenance : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.type_maint.libelle_maint}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Coût de la maintenance : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.cout_maint}} F CFA</td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Fournisseur de la maintenance : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.fournisseur_maint.nom_fournisseur}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Date de la maintenance : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.date_maint}} </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'ravitaillement_carburant' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Coût de ravitaillement : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.cout_rav}} F CFA</td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Quantité équivalente : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.quantite_rav}} Litres</td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;"> Plein ? : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.plein}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Engin ravitaillé : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.engin_rav.immatriculation}} Litres</td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;"> Fournisseur de carburant : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.forurnisseur_carburant.nom_fournisseur}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Date de ravitaillement : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.date_rav}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'releve_distance' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Date : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.date_releve}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Engin : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.engin_releve.immatriculation}} </td>
                                        </tr>

                                        <tr>
                                            <th style="color: black;">Kilometrage de début : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.nbKmDebut}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Kilometrage de fin : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.nbKmFin}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Distance parcourue : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.distance}} Km</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'type_engin' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Désignation : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.designation}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Description : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.description}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Nombre de roues : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{objet.nombre_roue}} roues</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'type_maintenance' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Libellé de la maintenance : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{type_maintenance.libelle_maint}} </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'personne' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Nom : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.nom}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Prénom : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.prenom}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Contact : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.contact}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Grade : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.grade.libelle_grade}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elif sujet == 'utilisateur' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Nom : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.user.last_name}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Prénom : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.user.first_name}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Email : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.user.email}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Contact : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.contact}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Grade : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.grade.libelle_grade}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Nom d'utilisateur : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.user.username}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Mot de passe : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{personne.user.password}} </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elif sujet == 'marque' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Nom de la marque : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{marque.nom_marque}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elif sujet == 'modele' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Nom du modèle : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{modele.nom_modele}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Marque : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{modele.marque.nom_marque}} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Année : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{modele.annee}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elif sujet == 'vidange_engin' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Engin concerné : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{ vidange.engin_vid.immatriculation }} </td>
                                        </tr>
                                        <tr>
                                            <th style="color: black;">Date de vidange : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{ vidange.date_vid }} </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% elif sujet == 'grade' %}
    <div class="bg-image">
        <div class="container">
            <div class="card card-profile shadow mt-3">
                <div class="px-4">
                    <div class="row justify-content-center bg-gradient-light">
                        <div class="mt-5">
                            <div class="mt-3 py-5 px-5 border-top bg-gradient-gray">
                                <h3>Détails de création {{sujet | upper}} : </h3>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <tr>
                                            <th style="color: black;">Libellé du grade : </th>
                                            <td style="color: rgb(1, 82, 1);"> {{grade.libelle_grade}} </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    {% endif %}


{% endblock contenu %}